<section class="container-fluid p-0">
	<div class="container p-5">
		<div class="row p-5">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-5">
				<h2 class="primaryBleuColor fw-semibold lh-lg text-justify">
					Bienvenue chez Action' Elles Assurance
					<span class="primaryOrangeColor">pour vos besoins</span>
					<span class="primaryBleuColor"> d'assurance véhicule</span>
				</h2>
				<div class="row">
					<p style="font-family: Poppins; color: #27265F;">Nous simplifions vos démarches d'assurance automobile. Protégez votre véhicule en quelques clics.</p>
					<div class="col-6 mt-3">
						<button class="btnBleuFonce btnBleuFonceLarge" (click)="goToSouscription()">Faire une souscription</button>
					</div>
					<div class="col-6 mt-3">
						<button class="btnBleuFonce btnBleuFonceLarge" (click)="goToSimulation()">Faire une simulation</button>
					</div>

				</div>
			</div>
			<div class="col-lg-6 col-md-6 d-none d-md-block pb-5">
				<img src="/assets/img/assurance-femme.png" alt="" class="w-100 img">
			</div>
		</div>
	</div>
</section>
